<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>gameplay_000000</key>
<dict>
<key>frame</key>
<string>{{0,0},{482,621}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{480,619}</string>
</dict>
<key>gameplay_000001</key>
<dict>
<key>frame</key>
<string>{{482,0},{48,325}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{46,323}</string>
</dict>
<key>gameplay_000002</key>
<dict>
<key>frame</key>
<string>{{28,896},{3,3}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1,1}</string>
</dict>
<key>gameplay_000003</key>
<dict>
<key>frame</key>
<string>{{28,893},{3,3}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1,1}</string>
</dict>
<key>gameplay_000004</key>
<dict>
<key>frame</key>
<string>{{41,797},{3,3}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1,1}</string>
</dict>
<key>gameplay_000005</key>
<dict>
<key>frame</key>
<string>{{28,899},{3,3}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1,1}</string>
</dict>
<key>gameplay_000006</key>
<dict>
<key>frame</key>
<string>{{28,884},{3,3}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1,1}</string>
</dict>
<key>gameplay_000007</key>
<dict>
<key>frame</key>
<string>{{530,0},{28,802}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{26,800}</string>
</dict>
<key>gameplay_000008</key>
<dict>
<key>frame</key>
<string>{{28,881},{3,3}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1,1}</string>
</dict>
<key>gameplay_000009</key>
<dict>
<key>frame</key>
<string>{{28,890},{3,3}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1,1}</string>
</dict>
<key>gameplay_000010</key>
<dict>
<key>frame</key>
<string>{{28,887},{3,3}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{1,1}</string>
</dict>
<key>gameplay_000011</key>
<dict>
<key>frame</key>
<string>{{0,732},{66,65}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{64,63}</string>
</dict>
<key>gameplay_000012</key>
<dict>
<key>frame</key>
<string>{{61,879},{26,18}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{24,16}</string>
</dict>
<key>gameplay_000013</key>
<dict>
<key>frame</key>
<string>{{34,837},{23,16}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{21,14}</string>
</dict>
<key>gameplay_000014</key>
<dict>
<key>frame</key>
<string>{{0,881},{28,21}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{26,19}</string>
</dict>
<key>gameplay_000015</key>
<dict>
<key>frame</key>
<string>{{0,797},{41,17}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{39,15}</string>
</dict>
<key>gameplay_000016</key>
<dict>
<key>frame</key>
<string>{{31,854},{30,46}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{28,44}</string>
</dict>
<key>gameplay_000017</key>
<dict>
<key>frame</key>
<string>{{61,837},{28,42}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{26,40}</string>
</dict>
<key>gameplay_000018</key>
<dict>
<key>frame</key>
<string>{{34,814},{29,23}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{27,21}</string>
</dict>
<key>gameplay_000019</key>
<dict>
<key>frame</key>
<string>{{0,854},{31,27}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{29,25}</string>
</dict>
<key>gameplay_000020</key>
<dict>
<key>frame</key>
<string>{{0,834},{34,20}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{32,18}</string>
</dict>
<key>gameplay_000021</key>
<dict>
<key>frame</key>
<string>{{0,814},{34,20}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{32,18}</string>
</dict>
<key>gameplay_000022</key>
<dict>
<key>frame</key>
<string>{{0,621},{105,52}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{103,50}</string>
</dict>
<key>gameplay_000023</key>
<dict>
<key>frame</key>
<string>{{0,673},{95,59}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{93,57}</string>
</dict>
<key>gameplay_000024</key>
<dict>
<key>frame</key>
<string>{{105,621},{33,281}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{31,279}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>flaxVersion</key>
<real>2.33</real>
<key>fps</key>
<integer>24</integer>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>gameplay.png</string>
<key>size</key>
<string>{582,902}</string>
<key>textureFileName</key>
<string>gameplay.png</string>
</dict>
<key>displays</key>
<dict>
<key>asset1</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>0</integer>
<key>end</key>
<integer>0</integer>
</dict>
<key>asset11</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>1</integer>
<key>end</key>
<integer>1</integer>
</dict>
<key>asset12</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>2</integer>
<key>end</key>
<integer>2</integer>
</dict>
<key>asset13</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>3</integer>
<key>end</key>
<integer>3</integer>
</dict>
<key>asset17</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>4</integer>
<key>end</key>
<integer>4</integer>
</dict>
<key>asset18</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>5</integer>
<key>end</key>
<integer>5</integer>
</dict>
<key>asset19</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>6</integer>
<key>end</key>
<integer>6</integer>
</dict>
<key>asset2</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>7</integer>
<key>end</key>
<integer>7</integer>
</dict>
<key>asset20</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>8</integer>
<key>end</key>
<integer>8</integer>
</dict>
<key>asset21</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>9</integer>
<key>end</key>
<integer>9</integer>
</dict>
<key>asset22</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>10</integer>
<key>end</key>
<integer>10</integer>
</dict>
<key>asset23</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>11</integer>
<key>end</key>
<integer>11</integer>
</dict>
<key>asset24</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>12</integer>
<key>end</key>
<integer>12</integer>
</dict>
<key>asset25</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>13</integer>
<key>end</key>
<integer>13</integer>
</dict>
<key>asset26</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>-0.03846</real>
<key>anchorY</key>
<real>4.21053</real>
<key>start</key>
<integer>14</integer>
<key>end</key>
<integer>14</integer>
</dict>
<key>asset27</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>5.53333</real>
<key>start</key>
<integer>15</integer>
<key>end</key>
<integer>15</integer>
</dict>
<key>asset28</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.77273</real>
<key>start</key>
<integer>16</integer>
<key>end</key>
<integer>16</integer>
</dict>
<key>asset29</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>2.00000</real>
<key>start</key>
<integer>17</integer>
<key>end</key>
<integer>17</integer>
</dict>
<key>asset30</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>-0.03704</real>
<key>anchorY</key>
<real>3.95238</real>
<key>start</key>
<integer>18</integer>
<key>end</key>
<integer>18</integer>
</dict>
<key>asset31</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>3.36000</real>
<key>start</key>
<integer>19</integer>
<key>end</key>
<integer>19</integer>
</dict>
<key>asset38</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>20</integer>
<key>end</key>
<integer>20</integer>
</dict>
<key>asset39</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>21</integer>
<key>end</key>
<integer>21</integer>
</dict>
<key>asset6</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>22</integer>
<key>end</key>
<integer>22</integer>
</dict>
<key>asset7</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>23</integer>
<key>end</key>
<integer>23</integer>
</dict>
<key>asset9</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>24</integer>
<key>end</key>
<integer>24</integer>
</dict>
<key>gamebg</key>
<dict>
<key>type</key>
<string>png</string>
<key>anchorX</key>
<real>0.50000</real>
<key>anchorY</key>
<real>0.49994</real>
<key>url</key>
<string>gameplay/gamebg.png</string>
</dict>
</dict>
<key>mcs</key>
<dict>
<key>cell</key>
<dict>
<key>type</key>
<string>null</string>
<key>totalFrames</key>
<integer>1</integer>
<key>rect</key>
<string>0,0,31.00,279.00</string>
<key>anchorX</key>
<real>0.43548</real>
<key>anchorY</key>
<real>0.50358</real>
<key>children</key>
<dict>
<key>i119394</key>
<dict>
<key>class</key>
<string>asset9</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>0.00,279.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
</dict>
</dict>
</dict>
<key>cellbg</key>
<dict>
<key>type</key>
<string>null</string>
<key>totalFrames</key>
<integer>1</integer>
<key>rect</key>
<string>0,0,46.00,323.00</string>
<key>anchorX</key>
<real>0.54348</real>
<key>anchorY</key>
<real>0.50619</real>
<key>children</key>
<dict>
<key>i119420</key>
<dict>
<key>class</key>
<string>asset11</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>0.00,323.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
</dict>
</dict>
</dict>
<key>cover</key>
<dict>
<key>type</key>
<string>null</string>
<key>totalFrames</key>
<integer>1</integer>
<key>rect</key>
<string>0,0,480.00,985.55</string>
<key>anchorX</key>
<real>0.50000</real>
<key>anchorY</key>
<real>0.49997</real>
<key>children</key>
<dict>
<key>i119448</key>
<dict>
<key>class</key>
<string>asset2</string>
<key>zIndex</key>
<integer>1</integer>
<key>frames</key>
<string>
230.75,985.55,0.00,1.00000,1.00000,1.00,1,0.00,0.00
</string>
</dict>
<key>i119446</key>
<dict>
<key>class</key>
<string>asset1</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>0.00,619.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
</dict>
</dict>
</dict>
<key>eq1</key>
<dict>
<key>type</key>
<string>null</string>
<key>totalFrames</key>
<integer>1</integer>
<key>rect</key>
<string>0,0,93.00,57.00</string>
<key>anchorX</key>
<real>0.50000</real>
<key>anchorY</key>
<real>0.49912</real>
<key>children</key>
<dict>
<key>i119474</key>
<dict>
<key>class</key>
<string>asset7</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>0.00,57.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
</dict>
</dict>
</dict>
<key>eq2</key>
<dict>
<key>type</key>
<string>null</string>
<key>totalFrames</key>
<integer>1</integer>
<key>rect</key>
<string>0,0,103.00,50.00</string>
<key>anchorX</key>
<real>0.50000</real>
<key>anchorY</key>
<real>0.49900</real>
<key>children</key>
<dict>
<key>i119500</key>
<dict>
<key>class</key>
<string>asset6</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>0.00,50.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
</dict>
</dict>
</dict>
<key>idle</key>
<dict>
<key>type</key>
<string>null</string>
<key>totalFrames</key>
<integer>12</integer>
<key>rect</key>
<string>0,0,72.25,90.15</string>
<key>anchorX</key>
<real>0.02076</real>
<key>anchorY</key>
<real>0.93178</real>
<key>children</key>
<dict>
<key>i119631</key>
<dict>
<key>class</key>
<string>asset31</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null|||||6.75,90.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||
</string>
</dict>
<key>i119625</key>
<dict>
<key>class</key>
<string>asset28</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null||5.00,85.90,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||
</string>
</dict>
<key>i119629</key>
<dict>
<key>class</key>
<string>asset30</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null||||8.00,87.40,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||
</string>
</dict>
<key>i119641</key>
<dict>
<key>class</key>
<string>asset26</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null||||||||||6.00,85.75,0.00,1.00000,1.00000,1.00,0,0.00,0.00|7.00,85.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00
</string>
</dict>
<key>i119635</key>
<dict>
<key>class</key>
<string>asset29</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null|||||||7.25,85.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||
</string>
</dict>
<key>i119639</key>
<dict>
<key>class</key>
<string>asset27</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null|||||||||4.25,86.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|
</string>
</dict>
<key>i119526</key>
<dict>
<key>class</key>
<string>asset26</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
5.00,88.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||||
</string>
</dict>
<key>i119627</key>
<dict>
<key>class</key>
<string>asset29</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null|||5.00,84.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||||
</string>
</dict>
<key>i119528</key>
<dict>
<key>class</key>
<string>asset25</string>
<key>zIndex</key>
<integer>1</integer>
<key>frames</key>
<string>
26.50,16.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.60,16.15,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.70,16.30,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.80,16.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.90,16.60,0.00,1.00000,1.00000,1.00,1,0.00,0.00|27.00,16.75,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.90,16.60,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.85,16.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.75,16.35,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.65,16.25,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.60,16.10,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.50,16.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00
</string>
</dict>
<key>i119531</key>
<dict>
<key>class</key>
<string>asset24</string>
<key>zIndex</key>
<integer>2</integer>
<key>frames</key>
<string>
24.50,24.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00|24.60,24.00,0.00,1.00833,1.00812,1.00,2,0.00,0.00|24.70,24.00,0.00,1.01666,1.01625,1.00,2,0.00,0.00|24.80,24.00,0.00,1.02501,1.02437,1.00,2,0.00,0.00|24.90,24.00,0.00,1.03334,1.03250,1.00,2,0.00,0.00|25.00,24.00,0.00,1.04167,1.04062,1.00,2,0.00,0.00|24.95,24.00,0.00,1.03473,1.03384,1.00,2,0.00,0.00|24.85,24.05,0.00,1.02779,1.02708,1.00,2,0.00,0.00|24.80,24.00,0.00,1.02083,1.02031,1.00,2,0.00,0.00|24.65,24.00,0.00,1.01389,1.01353,1.00,2,0.00,0.00|24.55,24.00,0.00,1.00694,1.00677,1.00,2,0.00,0.00|24.50,24.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00
</string>
</dict>
<key>i119633</key>
<dict>
<key>class</key>
<string>asset30</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null||||||5.75,85.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||
</string>
</dict>
<key>i119534</key>
<dict>
<key>class</key>
<string>asset23</string>
<key>zIndex</key>
<integer>3</integer>
<key>frames</key>
<string>
1.50,84.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,83.70,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,83.40,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,83.10,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,82.80,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,82.50,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,82.75,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,83.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,83.25,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,83.50,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,83.75,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,84.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00
</string>
</dict>
<key>i119637</key>
<dict>
<key>class</key>
<string>asset28</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null||||||||8.25,85.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||
</string>
</dict>
<key>i119623</key>
<dict>
<key>class</key>
<string>asset27</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null|0.00,88.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||||||
</string>
</dict>
</dict>
</dict>
<key>jump</key>
<dict>
<key>type</key>
<string>null</string>
<key>totalFrames</key>
<integer>12</integer>
<key>rect</key>
<string>0,0,72.25,90.15</string>
<key>anchorX</key>
<real>0.02076</real>
<key>anchorY</key>
<real>0.93178</real>
<key>children</key>
<dict>
<key>i119566</key>
<dict>
<key>class</key>
<string>asset24</string>
<key>zIndex</key>
<integer>2</integer>
<key>frames</key>
<string>
24.50,24.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00|24.60,24.00,0.00,1.00833,1.00812,1.00,2,0.00,0.00|24.70,24.00,0.00,1.01666,1.01625,1.00,2,0.00,0.00|24.80,24.00,0.00,1.02501,1.02437,1.00,2,0.00,0.00|24.90,24.00,0.00,1.03334,1.03250,1.00,2,0.00,0.00|25.00,24.00,0.00,1.04167,1.04062,1.00,2,0.00,0.00|24.95,24.00,0.00,1.03473,1.03384,1.00,2,0.00,0.00|24.85,24.05,0.00,1.02779,1.02708,1.00,2,0.00,0.00|24.80,24.00,0.00,1.02083,1.02031,1.00,2,0.00,0.00|24.65,24.00,0.00,1.01389,1.01353,1.00,2,0.00,0.00|24.55,24.00,0.00,1.00694,1.00677,1.00,2,0.00,0.00|24.50,24.00,0.00,1.00000,1.00000,1.00,2,0.00,0.00
</string>
</dict>
<key>i119569</key>
<dict>
<key>class</key>
<string>asset23</string>
<key>zIndex</key>
<integer>3</integer>
<key>frames</key>
<string>
1.50,84.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,83.70,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,83.40,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,83.10,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,82.80,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,82.50,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,82.75,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,83.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,83.25,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,83.50,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,83.75,0.00,1.00000,1.00000,1.00,3,0.00,0.00|1.50,84.00,0.00,1.00000,1.00000,1.00,3,0.00,0.00
</string>
</dict>
<key>i119643</key>
<dict>
<key>class</key>
<string>asset27</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null|0.00,88.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||||||
</string>
</dict>
<key>i119665</key>
<dict>
<key>class</key>
<string>asset26</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null||||||||||6.00,85.75,0.00,1.00000,1.00000,1.00,0,0.00,0.00|7.00,85.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00
</string>
</dict>
<key>i119659</key>
<dict>
<key>class</key>
<string>asset29</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null|||||||7.25,85.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||
</string>
</dict>
<key>i119647</key>
<dict>
<key>class</key>
<string>asset28</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null||5.00,85.90,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||
</string>
</dict>
<key>i119663</key>
<dict>
<key>class</key>
<string>asset27</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null|||||||||4.25,86.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|
</string>
</dict>
<key>i119653</key>
<dict>
<key>class</key>
<string>asset30</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null||||8.00,87.40,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||
</string>
</dict>
<key>i119649</key>
<dict>
<key>class</key>
<string>asset39</string>
<key>zIndex</key>
<integer>4</integer>
<key>frames</key>
<string>
null||21.75,48.40,0.00,1.00000,1.00000,1.00,4,0.00,0.00|null||||||||
</string>
</dict>
<key>i119645</key>
<dict>
<key>class</key>
<string>asset38</string>
<key>zIndex</key>
<integer>4</integer>
<key>frames</key>
<string>
null|21.60,48.80,0.00,1.00000,1.00000,1.00,4,0.00,0.00|null|||||||||
</string>
</dict>
<key>i119651</key>
<dict>
<key>class</key>
<string>asset29</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null|||5.00,84.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||||
</string>
</dict>
<key>i119661</key>
<dict>
<key>class</key>
<string>asset28</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null||||||||8.25,85.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||
</string>
</dict>
<key>i119655</key>
<dict>
<key>class</key>
<string>asset31</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null|||||6.75,90.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null|||||
</string>
</dict>
<key>i119657</key>
<dict>
<key>class</key>
<string>asset30</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
null||||||5.75,85.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||
</string>
</dict>
<key>i119561</key>
<dict>
<key>class</key>
<string>asset26</string>
<key>zIndex</key>
<integer>0</integer>
<key>frames</key>
<string>
5.00,88.15,0.00,1.00000,1.00000,1.00,0,0.00,0.00|null||||||||||
</string>
</dict>
<key>i119563</key>
<dict>
<key>class</key>
<string>asset25</string>
<key>zIndex</key>
<integer>1</integer>
<key>frames</key>
<string>
26.50,16.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.60,16.15,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.70,16.30,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.80,16.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.90,16.60,0.00,1.00000,1.00000,1.00,1,0.00,0.00|27.00,16.75,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.90,16.60,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.85,16.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.75,16.35,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.65,16.25,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.60,16.10,0.00,1.00000,1.00000,1.00,1,0.00,0.00|26.50,16.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00
</string>
</dict>
</dict>
</dict>
</dict>
</dict>
</plist>