<plist version="1.0">
<dict>
<key>frames</key>
<dict>
<key>gamestart_000000</key>
<dict>
<key>frame</key>
<string>{{0,802},{213,93}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{211,91}</string>
</dict>
<key>gamestart_000001</key>
<dict>
<key>frame</key>
<string>{{0,0},{482,802}}</string>
<key>offset</key>
<string>{0.00,0.00}</string>
<key>rotated</key>
<false/>
<key>sourceSize</key>
<string>{480,800}</string>
</dict>
</dict>
<key>metadata</key>
<dict>
<key>flaxVersion</key>
<real>2.33</real>
<key>fps</key>
<integer>24</integer>
<key>format</key>
<integer>2</integer>
<key>realTextureFileName</key>
<string>gamestart.png</string>
<key>size</key>
<string>{482,902}</string>
<key>textureFileName</key>
<string>gamestart.png</string>
</dict>
<key>displays</key>
<dict>
<key>asset4</key>
<dict>
<key>type</key>
<string>button</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>0</integer>
<key>end</key>
<integer>0</integer>
</dict>
<key>asset3</key>
<dict>
<key>type</key>
<string>null</string>
<key>anchorX</key>
<real>0.00000</real>
<key>anchorY</key>
<real>1.00000</real>
<key>start</key>
<integer>1</integer>
<key>end</key>
<integer>1</integer>
</dict>
</dict>
<key>mcs</key>
<dict>
<key>startview</key>
<dict>
<key>type</key>
<string>null</string>
<key>totalFrames</key>
<integer>1</integer>
<key>rect</key>
<string>0,0,485.20,800.00</string>
<key>anchorX</key>
<real>0.01587</real>
<key>anchorY</key>
<real>0.01387</real>
<key>children</key>
<dict>
<key>i18984</key>
<dict>
<key>class</key>
<string>asset3</string>
<key>zIndex</key>
<integer>1</integer>
<key>frames</key>
<string>5.20,800.00,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
</dict>
<key>startbtn</key>
<dict>
<key>class</key>
<string>asset4</string>
<key>zIndex</key>
<integer>2</integer>
<key>frames</key>
<string>
138.50,151.60,0.00,1.00000,1.00000,1.00,2,0.00,0.00
</string>
</dict>
</dict>
</dict>
</dict>
</dict>
</plist>